@import '../../utils/mixins.scss';

.header {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: fit-content;
  padding: 10px 0;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    &_logo {
      
      a {
        font-family: "Rubik", serif;
        font-size: 36px;
        font-weight: 500;
      }
    }

  }
}
