@import '../../utils/mixins.scss';
@import '../../utils/vars.scss';

.footer {
  position: relative;
  margin-top: auto; 
  padding: 2px 0;

  &__rules {
    text-align: center;
    font-size: 12px;
  }
}


