@import '../../utils/mixins.scss';
@import '../../utils/vars.scss';

.footer {
  margin-top: auto; 
  padding: 2px 0;

  &__rules {
    text-align: center;
    font-size: 12px;
  }

  @include on-tablet {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
